Test / Example

In [ ]:
x = [1,2,23]
x

[1, 2, 23]

Importing our Packages

In [ ]:
import pandas as pd
import numpy as np

Importing and copying our data

In [5]:
raw_csv_data = pd.read_csv("./dataSets/Index2018.csv")
df_comp = raw_csv_data.copy()

Examining our data

In [6]:
df_comp.head()

         date     spx      dax     ftse    nikkei
0  07/01/1994  469.90  2224.95  3445.98  18124.01
1  10/01/1994  475.27  2225.00  3440.58  18443.44
2  11/01/1994  474.13  2228.10  3413.77  18485.25
3  12/01/1994  474.17  2182.06  3372.02  18793.88
4  13/01/1994  472.47  2142.37  3360.01  18577.26